.inside-div{
    width: 50%;
    padding: 5%;
    margin: auto;
    background-color: gray;
    text-align: center;
    border-style: solid;
}
.inside-p{
    font-size: 20px;
}
html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background-color: darkgray;
  }
.container{
    height: 25%;
    padding: 5%;
}
.no-div{
    height:75%;
    margin: 0%;
}

.no{
    animation: around 3s 8s ease-in forwards infinite alternate;
    width: 50%;
    height: 50%;
    border-style: solid;
    background-color: red;
    border-radius: 25px;
    opacity: 0;
}
h1{
    text-align: center;
    height: 50%;
    font-size: 100px;
}


@keyframes around {
    0%{
        transform: translateX(0%);
        opacity: 1;
    }


    33%{
        transform: translateX(100%);
        opacity: 1;
    }

    66%{
        transform: translateY(100%) translateX(100%);
        opacity: 1;
    }

    100%{
        transform: translateY(100%) translateX(0%);
        opacity: 1;
    }

    
}

